#App{
    display:flex;
    flex-direction:column;
    justify-content:center
    align-items:center;
    margin:auto;
}

.product{
    border:1px black solid;
    padding:10px;
    width:200px;
}

#products{
    display:flex;
    gap:10px;
    justify-content:center;
}

#display{
    width:400px;
    height:50px;
    border:black solid 2px;
    font-size: 40px;
    margin:20px auto;
}

#buttons{
    margin:auto;
    display:flex;
    gap:20px;
}

